<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Teacher's Pet</strong> by <a href="https://vacathrower.netlify.app/" target="_blank">V.N.T.</a>
      <br>
      <a class="button is-link" href="mailto:nietovaca@gmail.com" target="_blank"><i id="icon">M</i></a>
      <a class="button is-link" href="https://www.linkedin.com/in/vthrower/" target="_blank"><i id="icon">L</i></a>
      <a class="button is-link" href="https://github.com/nietovaca/heroku-app" target="_blank"><i id="icon">G</i></a>
    </p>
</footer>
