<nav class="navbar is-link">
  <figure>
    <img src="/logo128b106.png" alt="Teacher's Pet: Class discussion and participation tracker.">
  </figure>
  <div class="navbar-center">
    <a href="/" class="button subtitle is-6 is-link" id="navItem">Classroom Discussions Made Easy</a>
  </div>
  <div class="navbar-end is-active">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li><a id="navItem" href="/classlist">Classlist</a></li>
          <li><a id="navItem" href="/rubric">Our Rubrics</a></li>
          <li><a id="navItem" href="/about">About</a></li>
        </ul>
      </div>
    </nav>
  </div>
</nav>
