<nav class="navbar is-link">
  <figure>
    <img src="/logo128b106.png" alt="Teacher's Pet: Class discussion and participation tracker.">
  </figure>
  <div class="navbar-center">
    <a href="/teacherspet/" class="button subtitle is-6 is-link">classroom discussions made easy</a>
  </div>
</nav>
