<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/header.ejs')%>
  </head>
  <body>
    <h1>Add a Student</h1>
    <p>Prepare for your class discussion: add your students by name and select their current level. </p>
    <form class="" action="/teacherspet" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Student Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="class" placeholder="Class Period">
      </div>
<!-- Not sure about this: but there probably needs to be a way to select gradelevel and the delineate standards from there  -->
<!-- if gradelevel === 9-10 - show these standard options else show these options
for now: Grade level 11-12 only -->
      <h3>Speaking & Listening: CCSS.ELA-LITERACY.SL.11-12.1 - 6</h3>
      <h4>Current Level</h4>
      <div class="standards">
        <!-- Standard 1A -->
        <h5>Standard 1 A:</h5>
        <p>Come to discussions prepared, having read and researched material under study;
          explicitly draw on that preparation by referring to evidence from texts and other research on the topic or issue to stimulate a thoughtful,
          well-reasoned exchange of ideas.</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="level6" class="custom-control-input" name="oneA6"><label class="custom-control-label">Level 6</label>
          <input type="radio" id="level7" class="custom-control-input" name="oneA7"><label class="custom-control-label">Level 7</label>
          <input type="radio" id="level8" class="custom-control-input" name="oneA8"><label class="custom-control-label">Level 8</label>
          <input type="radio" id="level9" class="custom-control-input" name="oneA9"><label class="custom-control-label">Level 9</label>
          <input type="radio" id="level10" class="custom-control-input" name="oneA10"><label class="custom-control-label">Level 10</label>
        </div>
        <!-- Standard 1B -->
        <h5>Standard 1 B:</h5>
        <p>Work with peers to promote civil, democratic discussions and decision-making, set clear goals and deadlines, and establish individual roles as needed.</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="level6" class="custom-control-input" name="oneB6"><label class="custom-control-label">Level 6</label>
          <input type="radio" id="level7" class="custom-control-input" name="oneB7"><label class="custom-control-label">Level 7</label>
          <input type="radio" id="level8" class="custom-control-input" name="oneB8"><label class="custom-control-label">Level 8</label>
          <input type="radio" id="level9" class="custom-control-input" name="oneB9"><label class="custom-control-label">Level 9</label>
          <input type="radio" id="level10" class="custom-control-input" name="oneB10"><label class="custom-control-label">Level 10</label>
        </div>
        <h5>Standard 1 C:</h5>
        <p>Propel conversations by posing and responding to questions that probe reasoning and evidence; ensure a hearing for a full range of positions on a topic or issue; clarify, verify, or challenge ideas and conclusions; and promote divergent and creative perspectives.</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="level6" class="custom-control-input" name="oneC6"><label class="custom-control-label">Level 6</label>
          <input type="radio" id="level7" class="custom-control-input" name="oneC7"><label class="custom-control-label">Level 7</label>
          <input type="radio" id="level8" class="custom-control-input" name="oneC8"><label class="custom-control-label">Level 8</label>
          <input type="radio" id="level9" class="custom-control-input" name="oneC9"><label class="custom-control-label">Level 9</label>
          <input type="radio" id="level10" class="custom-control-input" name="oneC10"><label class="custom-control-label">Level 10</label>
        </div>
        <h5>Standard 1 D:</h5>
        <p>Respond thoughtfully to diverse perspectives; synthesize comments, claims, and evidence made on all sides of an issue; resolve contradictions when possible; and determine what additional information or research is required to deepen the investigation or complete the task.</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="level6" class="custom-control-input" name="oneD6"><label class="custom-control-label">Level 6</label>
          <input type="radio" id="level7" class="custom-control-input" name="oneD7"><label class="custom-control-label">Level 7</label>
          <input type="radio" id="level8" class="custom-control-input" name="oneD8"><label class="custom-control-label">Level 8</label>
          <input type="radio" id="level9" class="custom-control-input" name="oneD9"><label class="custom-control-label">Level 9</label>
          <input type="radio" id="level10" class="custom-control-input" name="oneD10"><label class="custom-control-label">Level 10</label>
        </div>
        <h5>Standard 2:</h5>
        <p>Integrate multiple sources of information presented in diverse formats and media (e.g., visually, quantitatively, orally) in order to make informed decisions and solve problems, evaluating the credibility and accuracy of each source and noting any discrepancies among the data.</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="level6" class="custom-control-input" name="two6"><label class="custom-control-label">Level 6</label>
          <input type="radio" id="level7" class="custom-control-input" name="two7"><label class="custom-control-label">Level 7</label>
          <input type="radio" id="level8" class="custom-control-input" name="two8"><label class="custom-control-label">Level 8</label>
          <input type="radio" id="level9" class="custom-control-input" name="two9"><label class="custom-control-label">Level 9</label>
          <input type="radio" id="level10" class="custom-control-input" name="two10"><label class="custom-control-label">Level 10</label>
        </div>
        <h5>Standard 3:</h5>
        <p>Evaluate a speaker's point of view, reasoning, and use of evidence and rhetoric, assessing the stance, premises, links among ideas, word choice, points of emphasis, and tone used.</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="level6" class="custom-control-input" name="three6"><label class="custom-control-label">Level 6</label>
          <input type="radio" id="level7" class="custom-control-input" name="three7"><label class="custom-control-label">Level 7</label>
          <input type="radio" id="level8" class="custom-control-input" name="three8"><label class="custom-control-label">Level 8</label>
          <input type="radio" id="level9" class="custom-control-input" name="three9"><label class="custom-control-label">Level 9</label>
          <input type="radio" id="level10" class="custom-control-input" name="three10"><label class="custom-control-label">Level 10</label>
        </div>
        <h5>Standard 4:</h5>
        <p>Present information, findings, and supporting evidence, conveying a clear and distinct perspective, such that listeners can follow the line of reasoning, alternative or opposing perspectives are addressed, and the organization, development, substance, and style are appropriate to purpose, audience, and a range of formal and informal tasks.</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="level6" class="custom-control-input" name="four6"><label class="custom-control-label">Level 6</label>
          <input type="radio" id="level7" class="custom-control-input" name="four7"><label class="custom-control-label">Level 7</label>
          <input type="radio" id="level8" class="custom-control-input" name="four8"><label class="custom-control-label">Level 8</label>
          <input type="radio" id="level9" class="custom-control-input" name="four9"><label class="custom-control-label">Level 9</label>
          <input type="radio" id="level10" class="custom-control-input" name="four10"><label class="custom-control-label">Level 10</label>
        </div>
        <h5>Standard 5:</h5>
        <p>Make strategic use of digital media (e.g., textual, graphical, audio, visual, and interactive elements) in presentations to enhance understanding of findings, reasoning, and evidence and to add interest.</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="level6" class="custom-control-input" name="five6"><label class="custom-control-label">Level 6</label>
          <input type="radio" id="level7" class="custom-control-input" name="five7"><label class="custom-control-label">Level 7</label>
          <input type="radio" id="level8" class="custom-control-input" name="five8"><label class="custom-control-label">Level 8</label>
          <input type="radio" id="level9" class="custom-control-input" name="five9"><label class="custom-control-label">Level 9</label>
          <input type="radio" id="level10" class="custom-control-input" name="five10"><label class="custom-control-label">Level 10</label>
        </div>
        <h5>Standard 6:</h5>
        <p>Adapt speech to a variety of contexts and tasks, demonstrating a command of formal English when indicated or appropriate.</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="level6" class="custom-control-input" name="six6"><label class="custom-control-label">Level 6</label>
          <input type="radio" id="level7" class="custom-control-input" name="six7"><label class="custom-control-label">Level 7</label>
          <input type="radio" id="level8" class="custom-control-input" name="six8"><label class="custom-control-label">Level 8</label>
          <input type="radio" id="level9" class="custom-control-input" name="six9"><label class="custom-control-label">Level 9</label>
          <input type="radio" id="level10" class="custom-control-input" name="six10"><label class="custom-control-label">Level 10</label>
        </div>
      </div>

<!-- SUBMIT & ADD NEW BUTTONS -->
      <input type="submit" class="btn btn-success" value="Create Student">
    </form>
    <form action="/teacherspet/new" method="GET">
      <input type="submit" class="btn btn-success btn-lg btn-block" name="newStudent" value="Add Another Student">
    </form>
  </body>
</html>
