<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/header.ejs')%>
  </head>
  <body>
    <%- include('partials/nav.ejs')%>
    <div class="title mx-4 mt-4">
      Speaking Rubric:
    </div>
    <div class="content mx-4">
      <figure class="image is-16by9">
        <img src="/speakingRubric.png">
      </figure>
    </div>
    <form class="field" action="/rubric">
      <input type="submit" class="button is-link"value="Back">
    </form>
  </body>
  <%- include('partials/footer.ejs')%>
</html>
