<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/header.ejs')%>
  </head>
  <body>
    <section class="hero is-fullheight has-bg-img">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title" id="title">Teacher's Pet</p>
          <p class="subtitle" id="subtitle">Classroom Discussions Made Easy</p>
          <form action="/classlist" >
            <input type="submit" class="subtitle button is-link is-responsive" value="Try a Free Demo!">
          </form>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="navbar">
        <div id="navbarMenuHeroA" class="navbar-brand">
          <div class="navbar is-centered">
            <span class="navbar-item">
              <a class="button is-link is-responsive" href="mailto:nietovaca@gmail.com" target="_blank">
                <span class="icon">
                  <i id="icon">M</i>
                </span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-link" href="https://www.linkedin.com/in/vthrower/" target="_blank">
                <span class="icon">
                  <i id="icon">L</i>
                </span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-link" href="https://github.com/nietovaca/heroku-app" target="_blank">
                <span class="icon">
                  <i id="icon">G</i>
                </span>
              </a>
            </span>
          </div>
        </div>
        </nav>
      </div>
    </section>
  </body>
</html>
