<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/header.ejs')%>
  </head>
  <body>
    <section class="hero is-fullheight has-bg-img">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">Title 1</h1>
          <h2 class="subtitle">Subtitle 3</h2>
      </div>
      </div>
</section>
  </body>
</html>
