@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$blue: hsl(229, 53%, 53%);
$dark-green: hsl(154, 13, 11);
$hunter-green: hsl(125,24, 20);
$verdant-green: hsl(113,36, 26);
$green: hsl(75,41, 31);
$light-green: hsl(66,46, 45);
$brown: #757763;
$black: #000000;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $light-green;
$link: $green;
$widescreen-enabled: false;
$fullhd-enabled: false;
$primary: $dark-green;

// Update some of Bulma's component variables
$body-background-color: $black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$table-background-color: $black;

// Import only what you need from Bulma
@import "public/vendors/bulma/sass/utilities/_all.sass";
@import "public/vendors/bulma/sass/base/_all.sass";
@import "public/vendors/bulma/sass/elements/button.sass";
@import "public/vendors/bulma/sass/elements/container.sass";
@import "public/vendors/bulma/sass/elements/title.sass";
@import "public/vendors/bulma/sass/form/_all.sass";
@import "public/vendors/bulma/sass/components/navbar.sass";
@import "public/vendors/bulma/sass/layout/hero.sass";
@import "public/vendors/bulma/sass/layout/section.sass";
@import "public/vendors/bulma/sass/elements/_all.sass";
