<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/header.ejs')%>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/classes">Classes</a></li>
          <li><a href="/classes/new">Create a New Class</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Class Details:</h2>
        <ul>
          <li>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
